In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Dicionário de dados
dados1 = {
        'id_disciplina': ['1', '2', '3', '4', '5'],
        'nome': ['Bob', 'Maria', 'Mateus', 'Ivo', 'Gerson'],
        'sobrenome': ['Anderson', 'Teixeira', 'Amoedo', 'Trindade', 'Vargas']}

# Criação do dataframe a
df_a = pd.DataFrame(dados1, columns = ['id_disciplina', 'nome', 'sobrenome'])
df_a

  id_disciplina    nome sobrenome
0             1     Bob  Anderson
1             2   Maria  Teixeira
2             3  Mateus    Amoedo
3             4     Ivo  Trindade
4             5  Gerson    Vargas

In [4]:
# Dicionário de dados
dados2 = {
        'id_disciplina': ['4', '5', '6', '7', '8'],
        'nome': ['Roberto', 'Mariana', 'Ana', 'Marcos', 'Maria'],
        'sobrenome': ['Sampaio', 'Fernandes', 'Arantes', 'Menezes', 'Martins']}

# Criação do dataframe b
df_b = pd.DataFrame(dados2, columns = ['id_disciplina', 'nome', 'sobrenome'])
df_b

  id_disciplina     nome  sobrenome
0             4  Roberto    Sampaio
1             5  Mariana  Fernandes
2             6      Ana    Arantes
3             7   Marcos    Menezes
4             8    Maria    Martins

In [5]:
# Dicionário de dados
dados3 = {
        'id_disciplina': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'id_teste': [81, 75, 75, 71, 76, 84, 95, 61, 57, 90]}

# Criação do dataframe c
df_c = pd.DataFrame(dados3, columns = ['id_disciplina','id_teste'])
df_c

  id_disciplina  id_teste
0             1        81
1             2        75
2             3        75
3             4        71
4             5        76
5             7        84
6             8        95
7             9        61
8            10        57
9            11        90

In [ ]:
# Exercise 1 - Concatenate dataframes a and b by rows and create a new dataframe called df_ab_linha

In [8]:
df_ab_linha = pd.concat([df_a, df_b], axis=0).reset_index(drop=True)
print(df_ab_linha)

  id_disciplina     nome  sobrenome
0             1      Bob   Anderson
1             2    Maria   Teixeira
2             3   Mateus     Amoedo
3             4      Ivo   Trindade
4             5   Gerson     Vargas
5             4  Roberto    Sampaio
6             5  Mariana  Fernandes
7             6      Ana    Arantes
8             7   Marcos    Menezes
9             8    Maria    Martins

In [ ]:
# Exercise 2 - Concatenate dataframes a and b by columns and create a new dataframe called df_ab_coluna

In [11]:
df_ab_coluna = pd.concat([df_a, df_b], axis=1)
print(df_ab_coluna)

  id_disciplina    nome sobrenome id_disciplina     nome  sobrenome
0             1     Bob  Anderson             4  Roberto    Sampaio
1             2   Maria  Teixeira             5  Mariana  Fernandes
2             3  Mateus    Amoedo             6      Ana    Arantes
3             4     Ivo  Trindade             7   Marcos    Menezes
4             5  Gerson    Vargas             8    Maria    Martins

In [ ]:
# Exercise 3 - Merge the df_ab_linha and df_c dataframes using the id_disciplina column

In [12]:
df_merge = pd.merge(df_ab_linha, df_c, on='id_disciplina')
print(df_merge)

  id_disciplina     nome  sobrenome  id_teste
0             1      Bob   Anderson        81
1             2    Maria   Teixeira        75
2             3   Mateus     Amoedo        75
3             4      Ivo   Trindade        71
4             4  Roberto    Sampaio        71
5             5   Gerson     Vargas        76
6             5  Mariana  Fernandes        76
7             7   Marcos    Menezes        84
8             8    Maria    Martins        95

In [ ]:
# Exercise 4 - Merge the df_ab_linha and df_c dataframes using the id_disciplina column using left and right
# Merge outer join is the complete outer join that produces the set of all records in Table A and Table B, 
# with matching records on both sides when available. If there is no match, the missing side contains null.

In [14]:
df_merge_left_right = pd.merge(df_ab_linha, df_c, left_on='id_disciplina', right_on='id_disciplina')
print(df_merge_left_right)

  id_disciplina     nome  sobrenome  id_teste
0             1      Bob   Anderson        81
1             2    Maria   Teixeira        75
2             3   Mateus     Amoedo        75
3             4      Ivo   Trindade        71
4             4  Roberto    Sampaio        71
5             5   Gerson     Vargas        76
6             5  Mariana  Fernandes        76
7             7   Marcos    Menezes        84
8             8    Maria    Martins        95

In [ ]:
# Exercise 5 - Perform the outer join between the dataframes df_a and df_b using the id_disciplina column

In [15]:
df_outer = pd.merge(df_a, df_b, on='id_disciplina', how='outer', suffixes=('_a', '_b'))
print(df_outer)

  id_disciplina  nome_a sobrenome_a   nome_b sobrenome_b
0             1     Bob    Anderson      NaN         NaN
1             2   Maria    Teixeira      NaN         NaN
2             3  Mateus      Amoedo      NaN         NaN
3             4     Ivo    Trindade  Roberto     Sampaio
4             5  Gerson      Vargas  Mariana   Fernandes
5             6     NaN         NaN      Ana     Arantes
6             7     NaN         NaN   Marcos     Menezes
7             8     NaN         NaN    Maria     Martins

In [ ]:
# Exercise 6 - Exercise 5 generates missing values. Don't let this happen when merging!
# Merge inner join is the inner join that produces only the set of records that match in Table A and Table B.

In [16]:
df_outer_remove_nan = pd.merge(df_a, df_b, on='id_disciplina', how='outer', suffixes=('_a', '_b')).replace(np.nan, "Outro")
print(df_outer_remove_nan)

  id_disciplina  nome_a sobrenome_a   nome_b sobrenome_b
0             1     Bob    Anderson    Outro       Outro
1             2   Maria    Teixeira    Outro       Outro
2             3  Mateus      Amoedo    Outro       Outro
3             4     Ivo    Trindade  Roberto     Sampaio
4             5  Gerson      Vargas  Mariana   Fernandes
5             6   Outro       Outro      Ana     Arantes
6             7   Outro       Outro   Marcos     Menezes
7             8   Outro       Outro    Maria     Martins

In [ ]:
# Exercise 7 - Merge inner join between dataframes df_a and df_b using the id_disciplina column
# # Merge left join is the left outer join that produces a complete set of records from Table A, 
# with the corresponding records (when available) in Table B. If there is no match, the right side will contain null.

In [17]:
df_inner_join = pd.merge(df_a, df_b, on='id_disciplina', how='inner', suffixes=('_df_a', '_df_b'))
print(df_inner_join)

  id_disciplina nome_df_a sobrenome_df_a nome_df_b sobrenome_df_b
0             4       Ivo       Trindade   Roberto        Sampaio
1             5    Gerson         Vargas   Mariana      Fernandes

In [ ]:
# Exercise 8 - Merge left join between dataframes df_a and df_b using the id_disciplina column

In [18]:
df_left_join = pd.merge(df_a, df_b, on='id_disciplina', how='left', suffixes=('_df_a', '_df_b'))
print(df_left_join)

  id_disciplina nome_df_a sobrenome_df_a nome_df_b sobrenome_df_b
0             1       Bob       Anderson       NaN            NaN
1             2     Maria       Teixeira       NaN            NaN
2             3    Mateus         Amoedo       NaN            NaN
3             4       Ivo       Trindade   Roberto        Sampaio
4             5    Gerson         Vargas   Mariana      Fernandes

In [ ]:
# Exercise 9 - Exercise 8 generates missing values. Don't let this happen when merging!
# The merge right join is the opposite of the left join.

In [19]:
df_left_join = pd.merge(df_a, df_b, on='id_disciplina', how='left', suffixes=('_df_a', '_df_b')).replace(np.nan, "Outro")
print(df_left_join)

  id_disciplina nome_df_a sobrenome_df_a nome_df_b sobrenome_df_b
0             1       Bob       Anderson     Outro          Outro
1             2     Maria       Teixeira     Outro          Outro
2             3    Mateus         Amoedo     Outro          Outro
3             4       Ivo       Trindade   Roberto        Sampaio
4             5    Gerson         Vargas   Mariana      Fernandes

In [ ]:
# Exercise 10 - Merge right join between dataframes df_a and df_a using the id_disciplina column. Does not allow missing values!

In [20]:
df_right_join = pd.merge(df_a, df_b, on='id_disciplina', how='right', suffixes=('_df_a', '_df_b')).replace(np.nan, "Outro")
print(df_right_join)

  id_disciplina nome_df_a sobrenome_df_a nome_df_b sobrenome_df_b
0             4       Ivo       Trindade   Roberto        Sampaio
1             5    Gerson         Vargas   Mariana      Fernandes
2             6     Outro          Outro       Ana        Arantes
3             7     Outro          Outro    Marcos        Menezes
4             8     Outro          Outro     Maria        Martins

In [ ]:
# Exercise 11 - You noticed that the previous item generated very similar column names. Add a suffix to identify column names. Do not allow missing values.

In [21]:
df_right_join = pd.merge(df_a, df_b, on='id_disciplina', how='right', suffixes=('_df_a', '_df_b')).replace(np.nan, "Outro")
print(df_right_join)

  id_disciplina nome_df_a sobrenome_df_a nome_df_b sobrenome_df_b
0             4       Ivo       Trindade   Roberto        Sampaio
1             5    Gerson         Vargas   Mariana      Fernandes
2             6     Outro          Outro       Ana        Arantes
3             7     Outro          Outro    Marcos        Menezes
4             8     Outro          Outro     Maria        Martins

In [ ]:
# Exercise 12 - Merge df_a and df_b dataframes based on index

In [22]:
df_merge_index = pd.merge(df_a, df_b, left_index=True, right_index=True)
print(df_merge_index)

  id_disciplina_x  nome_x sobrenome_x id_disciplina_y   nome_y sobrenome_y
0               1     Bob    Anderson               4  Roberto     Sampaio
1               2   Maria    Teixeira               5  Mariana   Fernandes
2               3  Mateus      Amoedo               6      Ana     Arantes
3               4     Ivo    Trindade               7   Marcos     Menezes
4               5  Gerson      Vargas               8    Maria     Martins